LogicAppWP/ContosoOrders/PoProcessingWF/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Delete_message_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azurequeues"
                        }
                    },
                    "method": "delete",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('eshopordersp23wtwaz3pxg6'))}/queues/@{encodeURIComponent('orders-queue')}/messages/@{encodeURIComponent(triggerBody()?['MessageId'])}",
                    "queries": {
                        "popreceipt": "@triggerBody()?['PopReceipt']"
                    }
                },
                "runAfter": {
                    "Condition": [
                        "SUCCEEDED"
                    ]
                }
            },
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "uri": "https://eshop-orders-p23wtwaz3pxg6-poproc-api.azurewebsites.net/Orders",
                    "method": "POST",
                    "headers": {
                        "accept": "*/*",
                        "Content-Type": "application/json"
                    },
                    "body": "@triggerBody()?['MessageText']"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@outputs('HTTP')?['statusCode']",
                                200
                            ]
                        }
                    ]
                },
                "actions": {
                    "Insert_Entity_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "azuretables"
                                }
                            },
                            "method": "post",
                            "body": "@body('HTTP')",
                            "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('eshopordersp23wtwaz3pxg6'))}/tables/@{encodeURIComponent('OrdersProcessedSuccessfully')}/entities"
                        }
                    },
                    "HTTP_1": {
                        "type": "Http",
                        "inputs": {
                            "uri": "https://eshop-orders-p23wtwaz3pxg6-poproc-api.azurewebsites.net/WeatherForecast",
                            "method": "GET",
                            "headers": {
                                "accept": "text/plain"
                            }
                        },
                        "runAfter": {
                            "Insert_Entity_(V2)": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Insert_Entity_(V2)_1": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "referenceName": "azuretables"
                                    }
                                },
                                "method": "post",
                                "body": "@body('HTTP')",
                                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('eshopordersp23wtwaz3pxg6'))}/tables/@{encodeURIComponent('OrdersProcessedWithErrors')}/entities"
                            }
                        }
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "When_there_are_messages_in_a_queue_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azurequeues"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('eshopordersp23wtwaz3pxg6'))}/queues/@{encodeURIComponent('orders-queue')}/message_trigger"
                },
                "recurrence": {
                    "interval": 1,
                    "frequency": "Second",
                    "timeZone": "Central Standard Time"
                },
                "splitOn": "@triggerBody()?['QueueMessagesList']?['QueueMessage']"
            }
        }
    },
    "kind": "stateful"
}